body {
	/*background-color: #F1F3F5;*/
}


.dropdown-active{
	display: block !important;
}

.dropdown-inactive{
	display: none !important;
}



.btn-zenta {
	background-color: #42B7E8;
	color:white;
}

.btn-zenta:hover {
	background-color: white;
	color:#42B7E8;
}

.btn-zenta:focus {
	background-color: #42B7E8;
	color:white;
}

.btn-imannova-def {
	background-color: silver;
	color: transparent;
}

.btn-imannova-action {
	background-color: silver;
	color: #E6E6E6;
}

.content-width {
	background-color: white;
	margin-top: -10px;
    padding-top: 15px;
}

/*tamaño seccion content toma tamaño screen*/
.style-alt #page-content {
    min-height: calc(100vh - 6.5em);
    background-color: none;
}

/*tabla */

.small-title > thead > tr > th{
	font-size: 14px;
}


/* img banner fix */
.content-header-media > img {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 215px;
     margin-left: 0;
}

.header-section-bc {
	min-height: 105px;
}

/*fix content banner*/
.content-header-media {
    height: 125px;
}



/*widget catalogo*/

.header-theme-bc-widget {
	background-color: #93BAC0;
}

.theme-banco-central {
	background-color: #93BAC0;
}

.widget-catalogo {
	background-color: #61B987;;
}

.widget-simple-bc-bg {

	background-color: white !important;
	color:  #61B987;;

}


.widget-simple-bc, .widget-simple-bc:hover {

	color: white !important;
	padding-left: 50px;
}

 .icon-wg  {
	color: white !important;
	font-size: 50px;
	padding-left: 50px;
 	}

.widget-simple-bc-leyend {
	color: white;
}


.widget-eval > a {
	 height: 100px;
    width: 100%;
    background-color: #61B987 !important;
    color: white !important;
}



/*tab horiontal menu*/

.row-catalogo {
	padding: 0px 1px 1px 1px;
    padding-bottom: 25;
}

.tab-bc {
	width: 50%;
    background-color: #61B987;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
}

.tab-bc a:hover{
	color: #61B987 !important;
}

.tab-bc a {
	color: white ;
}

.active.tab-bc  a {
	color: #61B987 !important;
}

.fix-tabs {
    border-bottom: none;
}

.tab-pane {
	background-color: white;
}

.menu-bc {
	height: 70px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

/*catalogo menu home*/

.catalogo-lista-home li{

	width: 100%;
}

.one-menu a, .one-menu a>i {
 color: #E98300;
}

.one-menu:hover a, .one-menu:hover a>i{
	background-color: #E98300;
}

.two-menu a, .two-menu a>i {
 color: #1bbae1;
}

.two-menu:hover a, .two-menu:hover a>i {
 background-color: #1bbae1;
}

.three-menu a, .three-menu a>i {
 color: #61B987;
}

.three-menu:hover a, .three-menu:hover a>i {
 background-color: #61B987;
}


.modal-catalogo-op {
    padding-top: 20px;
    border-radius: 20px;
    background-color: #f9fafc;
    color: #61B987  ;
}

.modal-catalogo-op:hover, .modal-catalogo-op.active:hover, .modal-catalogo-op.active:focus   {
    background-color: #61B987;
    color: #f9fafc;
    text-decoration: none;
}

.modal-formularios{
	background-color: #32323a !important;
}

.modal-header {
	background-color: #394263;
    color: white;
}

.modal-body {
	height: 100%;
    position: relative;
    overflow-y: hidden;
}


.table-bc thead > tr > th {
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px
}


.center-block {
	float: none;
}


/* configuracion grupos evaluacion*/

.menu-config-grupo {
	color: white !important;
	background-color: #1ec1b8; 
}

.menu-config-grupo:hover {
	color: #1ec1b8 !important;
	background-color: white !important; 
}

.menu-config-grupo:focus {
	color: white !important;
	background-color: #1ec1b8 !important; 
}

.menu-config-grupo-btn {
	color: white !important;
	background-color: #1ec1b8; 
}

.menu-config-grupo-btn:hover, .menu-config-grupo-btn:focus {
	color: #1ec1b8 !important;
	background-color: white ; 
}


.left-col-new {
	background-color: #eee;
	min-height: 300px;
}

#modalBodyCreate{
	padding: 0px 0px 0px 0px;
	
}


.form-modal {
	    padding: 10px 10px 10px 10px;
}


/*circles as form*/

.chat-users a span {
     border-radius: 0px;
    background-color: none;
}


/*habilidades menu select */

.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:100%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 20px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}



/*modal solicitud imprimible*/
.firma-solicitud {
	position: relative;
	padding: 130px 20px 100px 20px;
}


@media (max-width: 991px) {
	#page-container {
	    width: 100%;
	}

	.content-header-media > img {
	    height: 200px;
	}

}


@media (max-width: 500px) {

	.content-header-media {
    	height: 100px;
	}
	.content-header-media > img {
	    height: 100px;
	}
}

@media screen and (min-width: 1px) {
	.block, .widget {
	    margin-bottom: 16px;
	}
}